body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(56, 55, 55);
}
.cardHeader{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(186, 184, 184);
    height: 50;
}

.divBorder{
    border: 2px solid gray;
    margin: 20px;
}